@import url(https://fonts.googleapis.com/css?family=Montserrat);

// Strip the units from a value
@function strip-units($value) {
    @return $value / ($value * 0 + 1);
  }
  
  // Calculate ems from a px value
  @function em($px, $base-val: 16px) {
    @if not unitless($px) {
      $px: strip-units($px);
    }
    @if not unitless($base-val) {
      $base-val: strip-units($base-val);
    }
    @return ($px / $base-val) * 1em;
  }
  
  // Managing Z-Layers & icon font names
  @function z($layer: "base") {
    @if not map-has-key($z-layers, $layer) {
      @warn "No z-index found in $z-layers map for '#{$layer}'. Property omitted.";
    }
    @return map-get($z-layers, $layer);
  }
  
  // Clearfix
  @mixin clearfix {
    &:before,
    &:after {
      display: table;
      content: "";
    }
    &:after {
      clear: both;
    }
  }
  
  // Sizing
  @mixin size($width, $height: $width) {
    width: $width;
    height: $height;
  }
  
  // Align the right way
  @mixin align($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } @else if ($horizontal) {
      left: 50%;
      transform: translate(-50%, 0);
    } @else if ($vertical) {
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  
  @mixin visual-hide() {
    border: 0;
    clip: rect(0 0 0 0); height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  @mixin filter($opacity: 0.3, $background: #000) {
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: block;
      content: " ";
      background: $background;
      opacity: $opacity;
      transition: opacity 0.3s ease;
    }
  }

@font-face {
  font-family: 'bebas_neueregular';
  src: url('https://dl.dropboxusercontent.com/u/81135676/bebasneue_regular-webfont.eot');
  src: url('https://dl.dropboxusercontent.com/u/81135676/bebasneue_regular-webfont.woff2') format('woff2'),
       url('https://dl.dropboxusercontent.com/u/81135676/bebasneue_regular-webfont.woff') format('woff'),
       url('https://dl.dropboxusercontent.com/u/81135676/bebasneue_regular-webfont.ttf') format('truetype'),
       url('https://dl.dropboxusercontent.com/u/81135676/bebasneue_regular-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neuebold';
  src: url('https://dl.dropboxusercontent.com/u/81135676/bebasneue_bold-webfont.eot');
  src: url('https://dl.dropboxusercontent.com/u/81135676/bebasneue_bold-webfont.woff2') format('woff2'),
       url('https://dl.dropboxusercontent.com/u/81135676/bebasneue_bold-webfont.woff') format('woff'),
       url('https://dl.dropboxusercontent.com/u/81135676/bebasneue_bold-webfont.ttf') format('truetype'),
       url('https://dl.dropboxusercontent.com/u/81135676/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-bold: "bebas_neuebold", "Arial", sans-serif;
$font-text: 'Montserrat', sans-serif;

body, html {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  height: 100%;
}

body {
  font-family: $font-bold;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle,#2b2a2a, #1a1919 );
}

#beerCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.coming_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  margin: 0 auto;
  color: white;
  text-align: center;
  z-index: 101;
  h1 {
    font-size: em(90px);
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
    color: white;
  }
  .separator_container {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    @include clearfix();
    margin: 12px 0;
  }
  .separator {
    color: white;
    margin: 0 auto 1em;
    width: 11em;
  }
  .line_separator {
    svg {
      width: 30px;
      height: 20px;
    }
    &:before, &:after {
      display: block;
      width: 40%;
      content: " ";
      margin-top: 14px;
      border: 1px solid white;
    }
    &:before {
      float: left;
    }
    &:after {
      float: right;
    }
  }
  h3 {
    font-family: $font-text;
    letter-spacing: 2px;
    line-height: 2;
    font-size: em(16px);
    font-weight: 400;
    text-align: center;
    margin: 0;
    a {
      text-decoration: underline;
    }
  }
}

